name: Auto Deploy
on:
  schedule:
    - cron: "0 10,22 * * *" # Run at 10 and 22 each day
    # every 12 hours: 0 */12 * * *
  # push:
  #   branches:
  #     - main
  # Allows manually running workflows from the Actions tab
  workflow_dispatch:

jobs:
  profile-readme-development-stats:
    # https://github.com/marketplace/actions/profile-readme-development-stats
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@main
        with:
          fetch-depth: 0 # Get the complete commit history

      - name: Reset to last user commit
        shell: bash
        run: |
          # Find the last commit not submitted by a robot
          LAST_USER_COMMIT=$(git log --pretty=format:'%H %an' | grep -Ev 'readme-bot|github-actions\[bot\]' | head -n1 | awk '{print $1}')
          echo "Last user commit: $LAST_USER_COMMIT"
          # Reset to this commit
          git reset --hard $LAST_USER_COMMIT
          git push origin main --force
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Profile Readme Development Stats
        uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.TOKEN }}
          SHOW_PROFILE_VIEWS: "False"
          SHOW_UPDATED_DATE: "False"
          SHOW_LINES_OF_CODE: "False"
          SHOW_OS: "True"
          SHOW_PROJECTS: "True"
          SHOW_LOC_CHART: "False"
          SHOW_EDITORS: "True"
          SHOW_TIMEZONE: "True"
          SHOW_COMMIT: "True"
          SHOW_LANGUAGE: "True"
          SHOW_LANGUAGE_PER_REPO: "True"
          SHOW_DAYS_OF_WEEK: "True"
          SHOW_SHORT_INFO: "False"
          LOCALE: "en"
          COMMIT_BY_ME: "False"
          COMMIT_MESSAGE: "Updated with Dev Metrics"
          SHOW_TOTAL_CODE_TIME: "False"

  # Delete old workflows
  delete-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@main
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 7
          keep_minimum_runs: 3 # Each workflow retain 3 runs
